<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:image" content="{{ '/assets/image/AlexB.png' | absolute_url }}"/>
    <meta property="og:title" content="Alexej Kalošin - Kouč"/>
    <meta property="og:description" content="Pomůžu Vám žít svůj osobní příběh"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>

<header class="page-header" role="banner">
    <div class="flex-con">
        <img class="item1" src="{{ '/assets/image/AlexB.png' | relative_url }}" />
        <div class="item2">
            <h1 class="size5">
                Pomůžu Vám žít svůj osobní příběh
            </h1>
            <div class="size3 item22">
                Chcete dosáhnout trvalé změny k vetší žitovní spokojenosti? Začněte teď a domluvte si první konzultaci zdarma.
            </div>
            <div>
                <a href="https://calendly.com/alexej-kalosin/prvni-konzultace" class="btn onBlack" target="_blank">vyzkoušet první sezení</a>
            </div>
        </div>
    </div>

</header>

<main id="content" class="main-content" role="main">

    <div class="stripe stripe1">
        <div class="flex-box">
            <div class="item1">
                <h2 class="size4">pomůžu Vám</h2>
                <ul class="size3">
                    <li>nalézt svůj směr</li>
                    <li>vrátit radost ze života</li>
                    <li>transformovat nefunkční vzorce</li>
                    <li>zvýšit sebevědomí a sebejistotu</li>
                </ul>
            </div>
            <div class="item2">
                <h2 class="size4">zaměřuji se</h2>
                <p class="size3">na muže kteři pracují nebo podnikají a</p>
                <ul class="size3">
                    <li>mají problém s motivací</li>
                    <li>cítí prázdnotu ve svém životě</li>
                    <li>cítí se zaseklí ve svých problémech</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="stripe stripe2">
        <div class="flex-box">
            <div class="item1">
                <h2 class="size4">O mě</h2>
                <p class="size2">Můj osobní příběh, který mě přivedl ke koučování zahrnuje mimo jiné dlouhodobou klinickou depresi,
                    rozvod, závislost na pornografii, alkoholu a trávě, očekávání že mě někdo zachrání a léta kdy jsem byl otrokem vlastní mysli.</p>
                <p>Strávil jsem hodně času hledáním naplnění v životě - hrál jsem na saxofon, kreslil a maloval, hrál improvizační divadlo,
                    komponoval hudbu, byl jsem DJ, měl jsem kočku, pavouky a psa, bydlel jsem v paneláku a v domku na samotě u lesa,
                    věnoval jsem se krav maze a crossfitu, byl jsem vegetariánem, studoval jsem filosofii, psychologii, buddhismus a učení Hare Krišna.</p>
                <p>Tečku tomuto hledání jsem udělal až po té co jsem absolvoval kurz RE kouč a aplikoval získané znalosti na vlastní život.
                    Teď sebe plně akceptuji, vím kam směruji a co od života chci - žiju svůj osobní příběh.</p>
                <p>Věřím že člověk je tvůrcem svého štěstí a každý je schopen žít naplněný a smysluplný život. Pomáhám ostatním posouvat se dopředu
                    a měnit svůj život koučováním metodou R&E <a href="https://resultsemotions.cz/" target="_blank">(Results & Emotions)</a>
                    .</p>
                <p class="size2 right">Alexej Kalošin, kouč</p>
            </div>
            <img class="item2" src="{{ '/assets/image/AlexW.png' | relative_url }}" />
        </div>
    </div>
    <div class="stripe stripe3">
        <div class="flex-box">
            <h1 class="size5">První konzultace zdarma</h1>
            <div>
                <a href="https://calendly.com/alexej-kalosin/prvni-konzultace" class="btn" target="_blank">vybrat si termín</a>
            </div>
        </div>
    </div>

    <footer class="stripe stripe4">
        <div class="flex-box">
            <p class="size1">© Alexej Kalošin</p>
        </div>
    </footer>
</main>
</body>
</html>